################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/StudentProfile/.vs/StudentProfile.slnx
/StudentProfile/bin/Debug
/Enrollment System/.vs/Enrollment System.slnx
/Enrollment System/bin/Debug
/Enrollment System/obj
/Try-Catch/.vs/Try-Catch.slnx
